.footer {
  background: $col-footer-bg;
  height: $footer-height;

  @include media($break-mid) {
    height: $footer-height--break-mid;
  }

  hr {
    border: 0;
    height: 4px;
    @include dotted-border(top);
  }
}

.footer__nav,
.footer__details {
  @include outer-container;
  color: $col-footer-fg;
  padding: .3em;
}

.footer__nav {
  display: block;

  h3 {
    color: $col-footer-fg;;
    display: inline-block;
  }

  aside {
    @include span-columns(3);

    ul {
      color: $col-footer-fg;;
      display: inline-block;
      list-style: none;
      margin-top: 0;
      padding: 0;
    }
  }

  a {
    color: $col-footer-fg;;
  }

  @include media($break-mid) {
    display: none;
  }
}

.footer__details {
  text-align: center;

  p {
    color: $col-footer-fg;;
    display: inline-block;
    margin: 0;

    @include media($break-mid) {
      display: block;
    }
  }
}
