.page__title {
  @include dotted-border(bottom);
  padding-bottom: .2em;

  @include media($break-mid) {
    @include colored-block;
    border: 0;
    padding: .3em;
    text-align: center;
  }
}

.page__content {
  @include clearfix;
  padding-bottom: 1em;

  > ul,
  > p {
    max-width: 70%;
  }

  > p:first-of-type {
    color: $col-page-first-paragraph;
    font-weight: bold;
  }
}
