blockquote {
  font-family: $font-family-serif;

  p {
    color: $col-quote;
    font-size: 1.35em;
    margin: .4em 0;
  }

  p:first-of-type:before,
  p:last-of-type:after {
    font-size: 1.5em;
    letter-spacing: -.1em;
    line-height: 0;
    position: relative;
    top: .11em;
  }

  p:first-of-type:before {
    content: '“';
  }

  p:last-of-type:after {
    content: '”';
    right: .1em;
  }

  cite {
    display: inline-block;
    font-size: 1.1em;
    margin: .3em 0 1.2em;
  }
}
