@mixin colored-block($bg-color:   $col-colored-block,
                     $text-color: $col-colored-block-text) {
  padding: .5em 1.5em;
  background: $bg-color;
  border-radius: $corner-radius; 
  color: $text-color;

  @include media($break-small) {
    border-radius: 0;
    position: relative;
    right: $page-content-horizontal-padding;
    width: calc(100% + #{2 * $page-content-horizontal-padding});
  }

  *,
  a:hover {
    color: $col-colored-block-text;
  }
}
