@mixin dotted-border($side: top) {
  $bg-image: url('images/dot.svg');

  $repeat: y;
  @if $side == top or $side == bottom {
    $repeat: x;
  }

  @if $side == topBottom {
    background-image: $bg-image, $bg-image;
    background-position: top, bottom;
    background-repeat: repeat-x, repeat-x;
  } @else {
    background-image: $bg-image;
    background-position: $side;
    background-repeat: repeat-#{$repeat};
  }
}
