@mixin dotted-border($side: top) {
  $style: 3px dotted $col-brand-grey-lt;
  $bg-image: url('images/dot.svg');

  @if $side == topBottom {
    background-image: $bg-image, $bg-image;
    background-position: top, bottom;
    background-repeat: repeat-x, repeat-x;
  } @else {
    background-image: $bg-image;
    background-position: $side;
    background-repeat: repeat-y;
  }
}
